{% extends 'includes.html' %}
{% block extra_head %}
<title>{{ collection.collection }}</title>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="container col-md-4">
			<div class="panel panel-default margin-top-lg">
				<div class="panel-heading">
					<div class="panel-title">
						<h4>
							{{ collection.collection }}
							<a href="/train/{{ collection.collection }}" class="btn btn-success btn-sm pull-right">Train</a>
						</h4>
					</div>
				</div>
		    	<div class="panel-body">
			    	<table class="table">
			    		<thead class="thead-inverse">
			    			<tr>
			    				<th>Labels</th>
			    			</tr>
			    		</thead>
			    		<tbody>
					    	{% for label in labels %}
					        	<tr>
					        		<td>{{ label }}</td>
					        	</tr>
					        {% endfor %}
					    </tbody>
				    </table>
				</div>
			</div>
		</div>
		<div class="container col-md-8">
			<div class="panel panel-default margin-top-lg">
				<div class="panel-heading">
					<form name="searchBar" method="POST" action="">
						<fieldset class="form-group">
							<input type="text" class="form-control" name="query" id="searchBar" placeholder="{{ previous_search if previous_search else 'Search...'}}">
						</fieldset>
					</form>
				</div>
				{% if search_results %}
					<div class="panel-body pre-scrollable text-justify">
						{% for result in search_results %}
							<img src="{{ result.preview }}" data-source="{{ result.base }}" class="img-thumbnail">
						{% endfor %}
					</div>
					<div class="panel-footer clearfix">
						<form class="form-inline pull-right">
							<input type="text" class="form-control" id="DataLabel" placeholder="label">
							<button type="submit" class="btn btn-success">Add Data</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
